<div class="login-form-card">
  <mat-horizontal-stepper [linear]="isLinear" class="login-stepper" #stepper (selectionChange)="focusPwdInput(stepper)">
    <mat-step [stepControl]="usernameForm">
      <form>
        <div class="login-heading">
          <div class="heading-text">登陆</div>
          <div class="heading-subtext">使用您的邮箱地址/场馆编号/管理员账号</div>
        </div>

        <mat-form-field class="full-width" style="margin-top: 64px">
          <input matInput
                 id="username-input"
                 name="username"
                 placeholder="用户名"
                 [formControl]="usernameForm">
          <mat-error *ngIf="usernameForm.hasError('userNotExist')
                        && !usernameForm.hasError('email')
                        && !usernameForm.hasError('required')">
            用户不存在
          </mat-error>
          <mat-error *ngIf="usernameForm.hasError('email')
                        && !usernameForm.hasError('required')">
            用户名不正确
          </mat-error>
          <mat-error *ngIf="usernameForm.hasError('required')">
            请输入用户名
          </mat-error>
        </mat-form-field>

        <div class="btn-group">
          <div align="left" style="float: left">
            <a mat-button color="primary" class="btn-link btn-signup" routerLink="/user/signup">创建账号</a>
          </div>
          <div align="right">
            <button mat-raised-button color="primary" class="btn-primary" (click)="next(stepper)">下一步</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="passwordForm">
      <form>
        <div class="login-heading">
          <div class="heading-text">登陆</div>
          <div class="heading-subtext">
            <div align="left" style="float: left">
              <button mat-button disabled class="btn-link btn-primary btn-username" matStepperPrevious>
                {{usernameForm.value}}
              </button>
            </div>
            <div align="right">
              <a mat-button color="primary" class="btn-link btn-primary" (click)="previous(stepper)">更换账户</a>
            </div>
          </div>
        </div>

        <mat-form-field class="full-width" style="margin-top: 64px">
          <input matInput
                 id="password-input"
                 name="password"
                 placeholder="密码"
                 type="password"
                 [formControl]="passwordForm">
          <mat-error *ngIf="passwordForm.hasError('required')">
            密码 <strong>不能为空</strong>
          </mat-error>
          <mat-error *ngIf="passwordForm.hasError('passwordWrong')
                        && !passwordForm.hasError('required')">
            密码错误
          </mat-error>
        </mat-form-field>

        <div class="btn-group">
          <div align="left" style="float: left">
            <a mat-button color="primary" class="btn-link btn-forget" routerLink="/user/signup">忘记了密码？</a>
          </div>
          <div align="right">
            <button type="submit" mat-raised-button color="primary" class="btn-primary" (click)="submit()">登陆</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
