<app-vip-header></app-vip-header>
<div class="container">
  <div class="focus-panel">
    <div class="focus-carousel">
      <nz-carousel nzAutoPlay #carousel>
        <div nz-carousel-content *ngFor="let data of hotSpotData"><h3>{{data.title}}</h3></div>
      </nz-carousel>
    </div>
    <div class="focus-list">
      <mat-nav-list>
        <mat-list-item *ngFor="let data of hotSpotData" (click)="carousel.goTo(data.id)">{{data.title}}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <!--<div class="navigation-bar" [@floatBarState]="floatBarState">-->
  <!--<div class="navigation-bar-container">-->
  <!--<div class="float-bar" [@floatBarState]="floatBarState">-->
  <!--<div class="float-bar-container">-->
  <!--<input placeholder="搜索..." class="search-box"/>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div *ngFor="let category of categoryData" style="height: 500px;margin-top: 12px;position: relative">
    <span class="fixed-anchor" id="{{category.name}}"></span>
    <mat-card style="height: 100%">
      {{category.displayName}}
    </mat-card>
  </div>
</div>
