.focus-panel {
  position: relative;
  width: 100%;
  height: 480px;
}

.focus-carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.focus-list {
  position: absolute;
  left: 100px;
  top: 0;
  width: 240px;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
}

[nz-carousel-content] {
  height: 480px;
  text-align: center;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}

.navigation-bar {
  position: fixed;
  top: 65px;
  z-index: 1000;
  left: 72px;
  right: 72px;
  background: rgba(white, .8);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  padding: 5px 0;
}

.navigation-bar .navigation-bar-container {
  display: flex;
  flex-wrap: wrap;

  margin: 0 12px 0 24px;
}
