@import "../../../styles";

.focus-panel {
  position: relative;
  width: 100%;
  height: 480px;
}

.focus-carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.focus-list {
  position: absolute;
  left: 100px;
  top: 0;
  width: 240px;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);
}

[nz-carousel-content] {
  height: 480px;
  text-align: center;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}

.float-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 65px;
  z-index: 1000;

  margin-top: 12px;
  //border-bottom: 3px map_get($default-app-primary, 400) solid;
  border: none;
  background: rgba(white, .92);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  padding: 5px 16px;
  min-height: 50px;
}

.float-bar .float-bar-container {
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.fixed-anchor {
  background-color: transparent;
  position: absolute;
  display: block;
  width: 100px;
  height: 130px;
  top: -130px;
}
