<mat-toolbar color="primary">
  <span>
    <button mat-button color="primary" class="btn-navbar">
      <img width="26" alt="Angular Logo"
           src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
           class="app-logo">
      <span>票票</span>
    </button>
    <a mat-button color="primary" class="btn-navbar" href="#">检票</a>
    <a mat-button color="primary" class="btn-navbar" href="#">购票</a>
    <a mat-button color="primary" class="btn-navbar" href="#">统计</a>
  </span>
  <span class="fill-in"></span>
  <span>
    <button mat-button color="primary" class="btn-navbar" [matMenuTriggerFor]="menu">{{ username }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </span>
</mat-toolbar>
