.login-form-card {
  min-width: 150px;
  max-width: 500px;
  width: 350px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.full-width {
  width: 100%;
}

.login-form {
  min-width: 120px;
  max-width: 450px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

