@import "../../../styles";

.bigNumber {
  color: map_get($mat-deep-orange, 900);
  font-size: 25px;
  font-weight: bolder;
}

.title {
  font-size: 160%;
  font-weight: bold;
}

.description {
  color: #616161;
  font-size: 90%;
}

.stip {
  font-weight: bold;
}

//.price{
//  color: map_get($mat-deep-orange,900);
//  font-size: 110%;
//}
.shop-cart {
  height: 42px;
  width: 560px;
  border: 1px solid #cceff5;
  background: #fafcfd;
  font-size: 140%;
  line-height: 0.6;
}

.input-add-sub {
  width: 230px;
  height: 45px;
  border: 1px solid #cceff5;
  background: #fafcfd;
}

.add-sub {
  font-size: 160%;
  line-height: 0.9;
  //background-image: ;
  //margin-top: 4px;
  //text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  //text-decoration: coral;
  //border:1px solid #cceff5;background:#fafcfd;
  //border-radius: 50%;
}

.add-sub:focus, .add-sub:hover, .add-sub::selection {
  border-color: cornflowerblue;
  color: #663300;
  box-shadow: crimson;
}

.input-number {
  font-size: 70%;
  margin-bottom: 1px !important;
  height: 26px;
  width: 30px;
  border-radius: 1px;
  border: 1px solid #c8cccf;
  outline: 0;
  text-align: center;
}

.ticket-info {
  width: 330px;
}

.info {
  margin-bottom: 10px;
  font-size: 110%;
}

.info-detail {
  margin-bottom: 10px;
  font-size: 80%;
  color: gray;

}

.cat-title-bar {
  border-bottom: 1px map_get($default-app-primary, 400) solid;
  padding: 6px 0 12px;
  margin-top: 10px;
  margin-bottom: 16px;

  .cat-title-bar-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px 0 18px;
    border-left: 4px map_get($default-app-primary, 400) solid;

    .cat-title {
      font-size: 18px;
      color: $primary-text-color;
    }

    .cat-subtitle {
      position: relative;
      min-height: 27px;
      min-width: 42px;

      a, span {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 12px;
        color: $secondary-text-color;

      }
    }
  }
}

//.mat-tab-label, .mat-tab-link{
//  font-size: 23px!important;
//  font-weight: bolder!important;
//}

.p-title {
  font-size: 120%;
  font-weight: bold;
  color: gray;
  background-color: #E4D2E8;
  padding-left: 5%;
  padding-right: 15%;
  margin-top: 8px;
}

.p-detail {
  font-size: 105%;
  color: gray;
  line-height: 120%;
  padding-left: 5%;
  padding-right: 5%;
}
