@import "../../../styles";

.booking-area {

  border: 1px solid map_get($default-app-primary, 50);
  box-shadow: none;
  background-color: white;
  min-height: 400px;

  padding: 24px 120px;

  .booking-bar {

    background-color: #fafafa;
    margin: 0 20px;
    padding-left: 24px;
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
    position: relative;

    &:before {
      border-left: 8px solid map_get($default-app-primary, 400);
      bottom: 10px;
      content: '';
      left: 0;
      position: absolute;
      top: 8px;
    }
  }

  .radio-style {
    margin: 20px 40px;

    span {
      float: left;
    }
  }

  .order-info {

    margin-left: 40px;

    .orderSure-city {
      margin-top: 25px;
      font-weight: bold;
    }

    .buyCar-table {
      width: 888px;
      margin-left: 0;
      margin-top: 10px;
      border-collapse: collapse;

      th {
        border: 1px solid #ededed;
        height: 40px;
        text-align: center;
        background-color: #fafafa;
        color: #a5a5a5;
        font-weight: normal;
      }

      .buyCar-table-proInfo {
        text-align: left;

        span {
          float: left;
        }

        .buyCar-table-proInfo-sp2 {
          margin-left: 10px;
          margin-right: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .red {
            color: #cc0001;
          }
          .c2, a.c2 {
            color: #4c4c4c
          }
          a {
            cursor: pointer;
            text-decoration: none;

            &:hover {
              color: map-get($default-app-primary, 400);
            }
          }
        }
      }

      .buyCar-table-nub {
        font-size: 14px;
        font-weight: bold;
        font-family: Tahoma;
      }

      td {
        border: 1px solid #ededed;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: normal;
      }

      .member-info {
        padding-left: 10px;
        text-align: left;
      }

      .no-border {
        border: 0;

        .ml30 {
          margin-left: 30px;
        }
      }

    }

  }

  .order-favorable {
    margin-top: 20px;
    margin-right: 60px;
    border: 1px solid #ededed;

    .order-favorable-titleList {
      font-weight: bold;
      background-color: #fafafa;
      border-bottom: 1px solid #ededed;

      padding-left: 0;
      margin-bottom: 5px;

      list-style-type: none;

      .active {
        margin-bottom: -1px;
        color: #cc0001;
        background-color: #fff;
        border-bottom: 1px solid #fff;
      }

      .order-favorable-title {
        float: left;
        padding: 11px 29px;
        border-right: 1px solid #ededed;
      }
    }

    .order-favorable-content {
      padding: 10px 18px 0 18px;

      .order-favorable-subtitlelist {
        padding: 0 10px;
        font-weight: bold;
        border-bottom: 1px solid #ededed;

        list-style-type: none;

        .active {
          float: left;
          color: #d02627;
          border-bottom: 2px solid #d02627;

          display: list-item;
        }
      }

      .order-favorable-code {
        padding-bottom: 30px;

        .order-favorable-des {
          color: #a9a9a9;
        }

        .mt20 {
          margin-top: 40px;
        }

        .mt10 {
          margin-top: 10px;

          input {
            outline: none;
            font-size: 100%;
            font-family: inherit;
            margin: 0;
            padding: 0;
          }

          .order-favorable-text {
            width: 198px;
            height: 34px;
            border: 1px solid #d2d2d2;
          }

          .order-favorable-usebtn {
            margin-left: 10px;
            padding: 10px 25px;
            border-width: 0;
            border-radius: 3px;
            font-size: 14px;
            color: #fff;
            background-color: map_get($default-app-primary, 400);

            cursor: pointer;
          }

          .order-favorable-tip {
            line-height: 1;
            margin-left: 10px;
            color: #666;
          }
        }
      }
    }

    .order-favorable-info {
      line-height: 38px;
      color: #999;
      background-color: #fafafa;
    }
  }

  .orderSure-orderDetail {
    margin-left: 40px;
  }

  .order-detail-container {
    margin: 20px 60px 0 0;
    line-height: 1;

    .order-detail-money {
      float: right;
      width: 130px;
      text-align: right;
      color: #4c4c4c;
    }

    .order-detail-label {
      float: right;
      text-align: right;
      color: #666;

      .order-detail-em {
        color: #eb414a;
        font-style: normal;
      }
    }
  }

  .order-total-container {
    height: 83px;
    margin: 16px 20px 0;
    padding-right: 40px;
    line-height: 1;
    border-top: 1px solid #ededed;
    color: #a1a1a1;
    background-color: #fafafa;

    .order-total-money {
      float: right;
      color: #eb414a;
      font-size: 20px;
      font-weight: bold;
    }

    .order-total-label {
      float: right;
      margin-right: 48px;
      color: #4c4c4c;
      line-height: 20px;

      .order-detail-em {
        color: #eb414a;
        font-style: normal;
      }
    }

    .order-total-person {
      float: right;
    }

    .order-total-address {
      float: right;
      margin-right: 50px;
    }
  }

  .orderSure-goto {
    width: 800px;
    float: right;
    overflow: hidden;
    padding-right: 50px;
    margin-top: 10px;

    .orderSure-goto-btn {
      width: 182px;
      float: right;
      margin-left: 20px;
      height: 50px;

    }

    .orderSure-goto-tips {
      text-align: right;
      margin-top: 4px;
      font-weight: bold;
      color: #cc0001;
    }

    .orderSure-goto-read {
      text-align: right;
      margin-top: 4px;

      a {
        cursor: pointer;
        text-decoration: none;
        color: map_get($default-app-primary, 500);

        &:hover {
          color: map_get($default-app-primary, 300);
        }
      }
    }
  }

  .pay-container {
    width: auto;
    margin: 0 20px;

    .pay-title {
      line-height: 40px;
      font-size: 16px;
      font-weight: bold;

      margin-top: 0;
    }

    .pay-info {
      line-height: 54px;
      border: 1px solid #ddd;
      background-color: #fff;
      color: #666;

      .pay-info-num {
        margin-left: 20px;
        font-size: 14px;
      }

      .pay-info-total {
        float: right;
        margin-right: 20px;

        .pay-info-money {
          font-style: normal;
          font-size: 18px;
          font-weight: bold;
          color: #cc0001;
          margin: 0 8px;
        }
      }
    }

    .pay-center {
      margin-top: 20px;
      background-color: #fff;
      border-width: 3px 1px 1px;
      border-color: map_get($default-app-primary, 500) #ddd #ddd;
      border-style: solid;

      .pay-center-head {
        padding-left: 18px;
        line-height: 40px;
        color: #7f7f7f;
        background-color: #f9f9f9;
        border-bottom: 1px solid #ddd;
      }

      .pay-center-body {
        width: 940px;
        margin: auto;
        padding: 20px 10px;

        .pay-radio-group {
          display: inline-flex;
          flex-direction: column;
        }

        .pay-radio-btn {
          margin: 10px 30px;

          img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
          }
        }

        .divider-border {
          height: 2px;
          width: 896px;
          margin: 0 8px;
          border-bottom: 1px solid #eee;
        }
      }
    }

    .pay-footer {
      padding: 30px 0 44px;

      .pay-footer-btn {
        float: left;
        width: 160px;
        margin-left: 40px;
        height: 50px;
      }
      .pay-footer-tips {
        margin-left: 40px;
        text-align: left;
        line-height: 20px;
        float: left;

        .pay-footer-tip1 {
          color: #666;
        }
        .pay-footer-tip2 {
          color: #666;

          .pay-timer {
            color: #cc0001;
            em {
              font-size: 24px;
              margin: 0 5px;
              font-style: normal;
            }
          }
        }
      }
    }
  }

  .pay-success {

    i.pay-success-ico {
      margin-left: 460px;
      font-size: 100px;
    }
    .pay-success-info {
      margin-left: 480px;
    }
    .pay-success-goto {
      margin-left: 424px;

      a {
        cursor: pointer;
        text-decoration: none;
        color: map_get($default-app-primary, 400);

        &:hover {
          color: map_get($default-app-primary, 300);
        }
      }

    }
  }
}

.clear-float {
  zoom: 1;

  &:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
}

.content-font {
  font: normal 12px/1.5 'arial', 'Tahoma', 'simsun', '宋体';
  color: #4c4c4c;
}

