<it-vip-header></it-vip-header>

<div class="container">
  <p class="buy-title">首页 > 我的订单 > 确认订单信息</p>
  <div class="booking-area">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>确认订单信息</ng-template>
          <div class="booking-bar" style="margin-top: 20px">
            票纸类型
          </div>
          <div class="radio-style">
            <mat-radio-group>
              <mat-radio-button value="1" [checked]="true">纸质票</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="booking-bar">
            送货方式
          </div>
          <div class="radio-style">
            <mat-radio-group>
              <mat-radio-button value="1" [checked]="true">快递配送</mat-radio-button>
              <mat-radio-button value="2" style="margin-left: 20px">自取</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="booking-bar">
            购票人信息
          </div>
          <div class="radio-style">
            <mat-radio-group style="display: inline-flex; flex-direction: column;">
              <mat-radio-button *ngFor="let add of user?.payment.shippingAddresses; let i = index"
                                [value]="i" [checked]="radioCheck(i)"
                                style="margin: 5px 0px">
                <span style="width: 50px">{{add.province}}</span>
                <span style="width: 50px">{{add.city}}</span>
                <span style="width: 150px">{{add.address}}</span>
                <span style="width: 50px">{{add.name}} </span>
                <span style="width: 135px"><b>{{add.phone}}</b></span>
                <span style="width: 50px">{{add.zipCode}}</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="booking-bar">
            确认购买信息
          </div>
          <div class="order-info">
            <p class="orderSure-city">发货城市：北京</p>
            <table class="buyCar-table">
              <tbody>
              <tr>
                <th width="280px">商品信息</th>
                <th width="80px">日期/场次</th>
                <th width="80px">单价</th>
                <th width="80px">优惠</th>
                <th width="80px">数量</th>
                <th style="width: 100px;_width: 85px;">小计(元)</th>
              </tr>
              <tr>
                <td class="buyCar-table-proInfo">
                  <span class="buyCar-table-proInfo-sp2" style="width: 340px">
                    <strong class="red">[售票中]</strong>
                    <a href="/ticket?id=5" class="c2" title="张杰2018">张杰2018“未·LIVE”巡回演唱会-深圳站</a>
                  </span>
                </td>
                <td>2018-09-22 19:30</td>
                <td>
                  <span class="buyCar-table-nub">280</span>
                </td>
                <td>无</td>
                <td style="width: 60px">1</td>
                <td>
                  <span class="buyCar-table-nub">280</span>
                  元
                </td>
              </tr>
              <tr>
                <td class="member-info no-border" colspan="6">
                  级别：普通会员（无折扣）
                  <span class="ml30">此单可获积分280分</span>

                </td>
              </tr>
              <tr>TODO</tr>
              </tbody>
            </table>
          </div>
          <div class="booking-bar">
            发票信息
          </div>
          <div class="radio-style">
            <mat-checkbox>我要开发票</mat-checkbox>
          </div>
          <div class="booking-bar">
            选择支付方式
          </div>
          <div class="radio-style">
            <mat-radio-group>
              <mat-radio-button value="1" [checked]="true">在线支付</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="booking-bar">
            使用现金券/预存款
          </div>
          <div class="orderSure-orderDetail order-favorable clear-float">
            <ul class="order-favorable-titleList clear-float">
              <li class="order-favorable-title active">
                现金券
              </li>
            </ul>
            <div class="order-favorable-content" id="orderCash">
              <ul class="order-favorable-subtitlelist clear-float">
                <li class="order-favorable-subtitle active">券码使用</li>
              </ul>
              <ul id="orderCashContent" class="order-favorable-cash clear-float">

              </ul>
              <div class="order-favorable-code" id="orderCashCode">
                <div class="order-favorable-des mt20"> 请输入优惠券兑换码：</div>
                <div class="mt10">
                  <input class="order-favorable-text" type="text" name="cashCoupNo">
                  <input class="order-favorable-usebtn" type="button" value="使用">
                  <span class="order-favorable-tip"></span>
                </div>
              </div>
            </div>
            <div class="order-favorable-info">
              <span class="order-favorable-info-label" style="margin-left: 20px">金额抵用</span>
              <span class="order-favorable-info-money" style="color: #ce0000;">¥0</span>
              <span class="order-favorable-info-price" style="margin-left: 10px">优惠券0张，优惠0元</span>
            </div>
          </div>


          <div></div>
          <div></div>
          <div></div>
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="myCtrl" required>
          </mat-form-field>
        </form>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>支付中心</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>完成支付</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

<it-back-top hrefBase="/concert"></it-back-top>
<it-vip-footer></it-vip-footer>
