@import "theme/default-app-theme";
@import "mixins/_mixins";

@include material-icons;

$primary-text-color: rgba(black, .87);
$secondary-text-color: rgba(black, .6);
$disabled-text-color: rgba(black, .38);

$content-width: 1288px;

@function primary-text-color($base-color) {
  @return rgba($base-color, .87);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $default-undercoat;
}

.btn-link.mat-button.mat-primary .mat-button-focus-overlay {
  background-color: transparent;
}

mat-horizontal-stepper.login-stepper .mat-horizontal-stepper-header-container {
  display: none;
}

.btn-navbar.mat-button.mat-primary, .btn-navbar.mat-icon-button {
  color: $primary-text-color;

  &.active {
    color: map_get($default-app-primary, 400);
  }

  .mat-button-focus-overlay {
    background-color: $black-12-opacity;
  }
}

.container {
  position: relative;
  margin: 65px auto 120px;
  padding: 0 12px;
  //padding: 12px 88px 24px;
  width: $content-width;
}

.search-box {
  min-width: 150px;
  border: $default-border;
  border-radius: 100px;
  padding: 2px 16px;
}

.search-box:focus {
  outline: none;
}

.flex-spacer {
  flex-grow: 1;
}

.progress-bar-container .mat-progress-bar {
  height: 3px;
}

it-toc.embedded {
  @media (min-width: 801px) {
    display: none;
  }

  .toc-inner {
    padding: 12px 0 0 0;

    .toc-heading {
      margin: 0 0 8px;
    }
  }
}

it-toc.embedded > div.collapsed li.secondary {
  display: none;
}

mat-card.it-card {
  border: 1px solid map_get($default-app-primary, 50);
  box-shadow: none;
  background-color: $default-undercoat;

  &.no-border {
    border: none;
  }

}

.it-icon {
  color: $secondary-text-color;

  svg {
    fill: $secondary-text-color;
  }
}

.divider {
  clear: both;
}
