.person-info {
  position: fixed;
  top: 65px;
  left: 88px;
  width: 300px;
  bottom: 12px;
}

.avatar {
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}

.avatar i {
  font-size: 100px !important;
}

.profile-list {
  margin-top: 62px;
  margin-left: 378px;
  margin-right: 0;
}

.list-tool-bar {
  position: fixed;
  top: 65px;
  //left: 466px;
  //right: 88px;
  z-index: 1000;
  background: linear-gradient(to right, rgba(255, 255, 255, .92), rgba(255, 255, 255, 1));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  transition: width .2s ease-in-out;

  padding: 5px 0;
}

.list-tool-bar .list-tool-bar-container {
  display: flex;
  flex-wrap: wrap;

  margin: 0 12px;
}
