<it-vip-header></it-vip-header>
<div class="container">
  <mat-card class="person-info it-card no-border" [style.height]="contentHeight">
    <div align="middle">
      <div class="avatar">
        <img width="160" height="160"
             src="assets/images/avatar.jpg"/>
        <span>更换头像</span>
      </div>
      <div class="level">
        <p><span>Lv.&nbsp;</span>999</p>
      </div>
      <div class="email">
        mock@sample.com
      </div>
    </div>
  </mat-card>

  <div id="setting-list">
    <h1>设置</h1>
    <mat-card class="it-card no-border">
      <h2>个人资料</h2>
      <h3>我的信息</h3>
      <div class="content">
        <form>
          <div class="form-item">
            <label><i class="material-icons">email</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>邮箱地址</mat-label>
              <!--<span matPrefix>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
              <input matInput placeholder="邮箱地址" [readonly]="true" [value]="person.email">
              <mat-hint align="end">不可修改</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-item">
            <label><i class="material-icons">person</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>昵称</mat-label>
              <!--<span matPrefix>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
              <input #nickname matInput placeholder="昵称" maxlength="24" [(value)]="person.nickname">
              <mat-hint align="end">{{nickname.value.length}} / 24</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-item">
            <label><i class="material-icons">phone</i></label>
            <div class="item">
              <mat-form-field appearance="outline" style="width: 120px">
                <mat-label>地区</mat-label>
                <mat-select placeholder="地区" [value]="country" #phoneCountry
                            (selectionChange)="resetCountry(phoneCountry.value)">
                  <mat-option value="CN">中国 (+{{getPhonePrefix("CN")}})</mat-option>
                  <mat-option value="US">USA (+{{getPhonePrefix("US")}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" style="margin-left: 8px;width: 352px">
                <mat-label>手机号码</mat-label>
                <input matInput placeholder="手机号码" type="tel"
                       [value]="phoneNumber"
                       (input)="onPhoneInput($event.target.value)">
              </mat-form-field>
            </div>
          </div>

          <!--<div class="content-item">-->
          <!--<label><i class="material-icons">person</i></label>-->
          <!--<mat-form-field appearance="outline" class="item" style="width: 140px">-->
          <!--<mat-label>性别</mat-label>-->
          <!--<mat-select placeholder="性别" [value]="person.gender">-->
          <!--<mat-option>&#45;&#45;&nbsp;保密&nbsp;&#45;&#45;</mat-option>-->
          <!--<mat-option value="male">&#x2642;&nbsp;男</mat-option>-->
          <!--<mat-option value="female">&#x2640;&nbsp;女</mat-option>-->
          <!--</mat-select>-->
          <!--</mat-form-field>-->
          <!--</div>-->

          <div class="form-item">
            <label><i class="material-icons">cake</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>出生日期</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="出生日期" [value]="birthDate.value">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-item">
            <label><i class="material-icons">edit</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>个性签名</mat-label>
              <!--<span matPrefix>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
              <textarea
                matInput
                #motto
                placeholder="个性签名"
                rows="6"
                maxlength="140"
                [(value)]="person.motto"></textarea>
              <mat-hint align="end">{{motto.value.length}} / 140</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-item">
            <button mat-raised-button color="primary" type="submit" style="float: right">修改</button>
          </div>
        </form>
      </div>
      <h3>社交</h3>
      <div class="content">
        <div class="content-item">
          <div class="social-info">
            <div class="social-title">备用邮箱</div>
            <div class="social-status">151250007@smail.nju.edu.cn</div>
            <div class="social-action" (click)="isBackupEmailVisible = !isBackupEmailVisible">解除绑定</div>
            <div class="divider"></div>
          </div>
          <div class="social-expansion" [class.active]="isBackupEmailVisible">
            <div class="social-expansion-container">
              Expanded
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="social-info">
            <div class="social-title">QQ</div>
            <div class="social-status">929509707</div>
            <div class="social-action">解除绑定</div>
            <div class="divider"></div>
          </div>
          <div class="social-expansion">解除绑定</div>
        </div>
        <div class="content-item">
          <div class="social-info">
            <div class="social-title">新浪微博</div>
            <div class="social-status">已绑定</div>
            <div class="social-action">解除绑定</div>
            <div class="divider"></div>
          </div>
          <div class="social-expansion">解除绑定</div>
        </div>
        <div class="content-item">
          <div class="social-info">
            <div class="social-title">腾讯微博</div>
            <div class="social-status">已绑定</div>
            <div class="social-action">解除绑定</div>
            <div class="divider"></div>
          </div>
          <div class="social-expansion">解除绑定</div>
        </div>
      </div>
    </mat-card>
    <mat-card class="it-card no-border">
      <h2>支付信息</h2>
      <h3>账户余额</h3>
      <h3>信用卡</h3>
      <h3>收货地址</h3>
    </mat-card>
    <mat-card class="it-card no-border">
      <h2>账户安全</h2>
      <h3>修改密码</h3>
      <h3>密保问题</h3>
      <h3>实名认证</h3>
    </mat-card>
  </div>

  <div class="toc-list" [style.maxHeight]="contentHeight">
    <it-toc></it-toc>
  </div>

  <div class="divider"></div>
</div>
<it-back-top hrefBase="/setting"></it-back-top>
<it-vip-footer></it-vip-footer>
