@import "../../../styles";

mat-card.person-info {
  border-right: 1px solid map_get($default-app-primary, 50) !important;
}

.person-info {
  position: sticky;
  position: -webkit-sticky;
  top: 65px;

  width: 300px;
  min-height: 750px;
  float: left;

  .avatar {
    width: 160px;
    height: 160px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;

    cursor: pointer;

    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

    img {
      border: none;
    }

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 40px;
      width: 160px;
      border: none;

      background-color: rgba(black, .34);
      color: white;

      font-size: 12px;
      line-height: 12px;

      padding: 14px 0;

      transition: background-color 100ms ease-in-out;
    }

    &:hover, &:active, &:focus, &:visited {
      span {
        background-color: rgba(black, .54);
      }
    }
  }

  .level {
    margin-top: 36px;

    p {
      font-size: 18px;
      font-weight: 500;
      color: map_get($default-app-primary, 400);

      span {
        font-style: italic;
        font-size: 14px;
        font-weight: 400;
        color: $disabled-text-color;
      }
    }
  }

  .email {
    margin-top: 8px;
    color: $secondary-text-color;
  }
}

.toc-list {
  position: sticky;
  position: -webkit-sticky;
  top: 65px;

  float: right;
  width: 130px;
  overflow-y: auto;
  overflow-x: hidden;
}

#setting-list {
  float: left;
  margin-left: 26px;
  width: 790px;
  margin-right: 18px;
  min-height: 750px;

  color: $primary-text-color;

  h1 {
    margin: 8px auto 8px 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }

  .mat-card + .mat-card {
    margin-top: 12px;
  }

  .mat-card {
    color: $primary-text-color;
    font-weight: normal;

    h2 {
      margin: 8px auto 8px 0;
      padding-left: 24px;
      font-size: 22px;
      font-weight: 400;
      line-height: 2;
      position: relative;

      &:before {
        border-left: 8px solid map_get($default-app-primary, 400);
        bottom: 10px;
        content: '';
        left: 0;
        position: absolute;
        top: 8px;
      }
    }

    h3 {
      margin: 18px 180px 18px 0;
      padding-left: 24px;
      font-size: 18px;
      font-weight: 400;
      line-height: 2;
      position: relative;

      color: $secondary-text-color;

      background: linear-gradient(to right, rgba(map_get($default-app-primary, 400), .2), rgba(map_get($default-app-primary, 400), .0));
    }

    .content + h3 {
      margin-top: 54px;
    }

    .content {
      margin-left: 72px;
      margin-right: 72px;
      display: flex;
      flex-direction: column;

      .prefix-icon {
        color: $secondary-text-color;
      }

      form {
        &.margin-4 {
          .form-item + .form-item {
            margin-top: 4px;
          }
        }

        &.margin-8 {
          .form-item + .form-item {
            margin-top: 8px;
          }
        }

        .form-item {
          width: 100%;
          position: relative;

          label {
            position: absolute;
            top: 20px;
            left: 0;
            color: $secondary-text-color;
          }

          .item {
            top: 0;
            margin-left: 40px;
            margin-right: 0;
            width: calc(100% - 40px);

            .secondary-action {
              float: right;
            }

            .primary-action {
              float: right;
              margin-left: 12px;
            }
          }
        }
      }

      .password-form {
        .form-item + .form-item {
          margin-top: 0;
        }

        .form-item {
          width: 400px;
          position: relative;

          .item {
            top: 0;
            margin-left: 100px;
            width: 360px;
          }
        }
      }

      .content-item + .content-item {
        border-top: 1px solid map_get($default-app-primary, 50);
      }

      .content-item {
        position: relative;
        width: 550px;
        min-height: 69px;
        padding: 0;
      }

    }
  }
}

.it-accordion {

  .mat-expansion-panel {
    background-color: $default-undercoat;
    box-shadow: none;
  }

  .mat-expansion-panel + .mat-expansion-panel {
    border-top: 1px solid map_get($default-app-primary, 50);
  }

  .mat-expansion-panel-header {
    padding-left: 0;

    mat-icon.it-icon {
      margin-right: 26.5px;
    }
  }

  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    line-height: 24px;
    flex-basis: 0;
  }

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
}

.bank-card-list {
  position: relative;
  margin-left: -48px;
  margin-right: -48px;
  margin-bottom: 12px;

  &::before {
    position: absolute;
    z-index: 500;
    left: -16px;
    top: 0;
    bottom: 0;
    width: 16px;
    content: "";
    display: block;
    box-shadow: 2px 0 1px -1px map_get($default-app-primary, 50), 5px 0 3px -3px map_get($default-app-primary, 50), 8px 0 5px -5px map_get($default-app-primary, 50);
    background-color: $default-undercoat;
    border: none;
  }

  &::after {
    position: absolute;
    z-index: 500;
    right: -16px;
    top: 0;
    bottom: 0;
    width: 16px;
    content: "";
    display: block;
    box-shadow: -2px 0 1px -1px map_get($default-app-primary, 50), -5px 0 3px -3px map_get($default-app-primary, 50), -8px 0 5px -5px map_get($default-app-primary, 50);
    background-color: $default-undercoat;
    border: none;
  }

  .list-container {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    border: none;
    padding: 12px 18px;

    .bank-card + .bank-card {
      margin-left: 12px;
    }

    .bank-card {
      z-index: -1;
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      width: 300px;
      height: 200px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
      border-radius: 5px;

      color: primary-text-color(black);
      line-height: 1;

      .card-title {
        height: 58px;

        border-bottom: 1px solid map_get($default-app-primary, 50);
        color: map_get($mat-indigo, 900);

        &.credit {
          color: map_get($mat-pink, 900);
        }

        .card-type {
          float: left;
          font-size: 18px;
          font-weight: 500;
          margin-top: 20px;
          margin-left: 30px;
        }

        .bank-name {
          float: right;
          font-size: 14px;
          margin-top: 24px;
          margin-right: 30px;
          color: $secondary-text-color;
        }
      }

      .card-content {
        line-height: 1;

        .card-id {
          float: left;
          margin-top: 30px;
          margin-left: 30px;
          margin-bottom: 30px;
          font-size: 24px;
          font-weight: 400;
        }

        .expire-date {
          float: right;
          margin-top: 38px;
          margin-right: 30px;
          margin-bottom: 32px;
          font-size: 14px;
          font-weight: 400;
          color: $disabled-text-color;
        }

        .person-name {
          float: left;
          margin-left: 30px;
          margin-top: 10px;
          color: $secondary-text-color;
        }

        .card-action {
          float: right;
          margin-right: 0;
        }
      }

      .add-card {
        float: left;
        width: 300px;
        height: 200px;
        padding: 10px 60px;
        cursor: pointer;
        background-color: rgba(map_get($default-app-primary, 400), .05);

        .mat-icon {
          font-size: 180px;
          color: white;
        }
      }
    }
  }

  & + .it-accordion {
    .mat-expansion-panel {
      border: 1px solid transparent;

      .mat-expansion-panel-header {
        padding-left: 24px;

        mat-icon.it-icon {
          margin-right: 12px;
          -webkit-transition: -webkit-transform .15s ease-in-out;
          transition: transform .15s ease-in-out;
        }
      }

      &.mat-expanded {
        border: 1px solid rgba(map_get($default-app-primary, 400), .05);
        .mat-expansion-panel-header, .mat-expansion-panel-header:hover {
          background: rgba(map_get($default-app-primary, 400), .05);

          //&.mat-expanded {
          //  background: linear-gradient(to bottom, rgba(map_get($default-app-primary, 400), .05), rgba(map_get($default-app-primary, 400), .0));
          //}
        }

        .mat-expansion-panel-header mat-icon.it-icon {
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
        }

      }
    }

  }
}

.shipping-address-list {
  position: relative;
  margin-left: -48px;
  margin-right: -48px;
  margin-bottom: 12px;

  &::before {
    position: absolute;
    z-index: 500;
    left: -16px;
    top: 0;
    bottom: 0;
    width: 16px;
    content: "";
    display: block;
    box-shadow: 2px 0 1px -1px map_get($default-app-primary, 50), 5px 0 3px -3px map_get($default-app-primary, 50), 8px 0 5px -5px map_get($default-app-primary, 50);
    background-color: $default-undercoat;
    border: none;
  }

  &::after {
    position: absolute;
    z-index: 500;
    right: -16px;
    top: 0;
    bottom: 0;
    width: 16px;
    content: "";
    display: block;
    box-shadow: -2px 0 1px -1px map_get($default-app-primary, 50), -5px 0 3px -3px map_get($default-app-primary, 50), -8px 0 5px -5px map_get($default-app-primary, 50);
    background-color: $default-undercoat;
    border: none;
  }

  .list-container {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;

    border: none;
    padding: 12px 18px;

    .address-card + .address-card {
      margin-left: 12px;
    }

    .address-card {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      width: 300px;
      height: 200px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
      border-radius: 5px;

      color: primary-text-color(black);
      line-height: 1;

      .card-title {
        position: absolute;
        width: 300px;
        height: 58px;
        left: 0;
        top: 0;

        border-bottom: 1px solid map_get($default-app-primary, 50);

        .name {
          //position: absolute;
          margin-left: 30px;
          margin-top: 20px;

          font-size: 18px;
          font-weight: 500;
        }

        .phone {
          position: absolute;
          right: 30px;
          top: 24px;
          color: $secondary-text-color;
        }
      }

      .card-content {
        position: absolute;
        width: 300px;
        height: 84px;
        left: 0;
        top: 82px;

        line-height: 1.5;
        font-weight: 400;

        .area {
          margin-left: 30px;
          font-size: 14px;
          color: $primary-text-color;
        }

        .address {
          margin-left: 30px;
          font-size: 14px;
          color: $primary-text-color;
        }

        .zip-code {
          margin-left: 30px;
          font-size: 12px;
          color: $secondary-text-color;
        }

      }

      .card-action {
        position: absolute;
        width: 300px;
        height: 47px;
        bottom: 0;
        left: 0;

        .modify {
          float: left;
        }

        .delete {
          float: right;
        }
      }

      .add-card {
        float: left;
        width: 300px;
        height: 200px;
        padding: 10px 60px;
        cursor: pointer;
        background-color: rgba(map_get($default-app-primary, 400), .05);

        .mat-icon {
          font-size: 180px;
          color: white;
        }
      }

    }
  }
}

.bank-card-list, .shipping-address-list {
  & + .it-accordion {
    .mat-expansion-panel {
      border: 1px solid transparent;

      .mat-expansion-panel-header {
        padding-left: 24px;

        mat-icon.it-icon {
          margin-right: 12px;
          -webkit-transition: -webkit-transform .15s ease-in-out;
          transition: transform .15s ease-in-out;
        }
      }

      &.mat-expanded {
        border: 1px solid rgba(map_get($default-app-primary, 400), .05);
        .mat-expansion-panel-header, .mat-expansion-panel-header:hover {
          background: rgba(map_get($default-app-primary, 400), .05);
        }

        .mat-expansion-panel-header mat-icon.it-icon {
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
        }

      }
    }

  }
}

.full-width {
  width: 100%;
}
