<it-vip-header></it-vip-header>
<div class="container">
  <mat-card class="person-info it-card no-border" [style.height]="contentHeight">
    <div align="middle">
      <div class="avatar">
        <img width="160" height="160"
             src="assets/images/avatar.jpg"/>
        <span>更换头像</span>
      </div>
      <div class="level">
        <p><span>Lv.&nbsp;</span>999</p>
      </div>
      <div class="email">
        mock@sample.com
      </div>
    </div>
  </mat-card>

  <div id="setting-list">
    <h1>设置</h1>
    <mat-card class="it-card no-border">
      <h2>个人资料</h2>
      <h3>我的信息</h3>
      <div class="content">
        <form [formGroup]="infoForm" style="width: 556px;" class="margin-8">
          <div class="form-item">
            <label><i class="material-icons">email</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>邮箱地址</mat-label>
              <input matInput placeholder="邮箱地址" [readonly]="true"
                     formControlName="email"
                     [errorStateMatcher]="formErrorStateMatcher">
              <mat-hint align="end">不可修改</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-item">
            <label><i class="material-icons">person</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>昵称</mat-label>
              <input #nickname matInput placeholder="昵称" maxlength="24"
                     formControlName="nickname"
                     [errorStateMatcher]="formErrorStateMatcher">
              <mat-hint align="end">{{nickname.value.length}} / 24</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-item">
            <label><i class="material-icons">phone</i></label>
            <div class="item">
              <mat-form-field appearance="outline" style="width: 30%">
                <mat-label>地区</mat-label>
                <mat-select placeholder="地区" formControlName="prefix" #phoneCountry
                            (selectionChange)="resetCountry(phoneCountry.value)"
                            [errorStateMatcher]="formErrorStateMatcher">
                  <mat-option *ngFor="let country of countries" [value]="country.code">
                    <img [src]="country.flag" aria-hidden width="35"><span> {{country.name}} ({{country.prefix}})</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" style="margin-left: 2%;width: 68%">
                <mat-label>手机号码</mat-label>
                <!--<input matInput placeholder="手机号码" type="tel"-->
                <!--[value]="phoneNumber"-->
                <!--(input)="onPhoneInput($event.target.value)">-->
                <input matInput placeholder="手机号码" type="tel"
                       formControlName="phone"
                       [textMask]="{mask: phoneMask, guide: false}"
                       [errorStateMatcher]="formErrorStateMatcher">
              </mat-form-field>
            </div>
          </div>

          <div class="form-item">
            <label><i class="material-icons">cake</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>出生日期</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="出生日期"
                     formControlName="birth"
                     [errorStateMatcher]="formErrorStateMatcher">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-item">
            <label><i class="material-icons">edit</i></label>
            <mat-form-field appearance="outline" class="item">
              <mat-label>个性签名</mat-label>
              <textarea #motto matInput placeholder="个性签名"
                        rows="6" maxlength="140"
                        formControlName="motto"
                        [errorStateMatcher]="formErrorStateMatcher"></textarea>
              <mat-hint align="end">{{motto.value.length}} / 140</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-item" style="margin-top: 12px">
            <div class="item">
              <button mat-raised-button color="primary" type="button" class="primary-action"
                      [disabled]="infoForm.pristine"
                      (click)="submitInfoForm()">
                修改
              </button>
              <button mat-button color="primary" type="submit" class="secondary-action"
                      [disabled]="infoForm.pristine"
                      (click)="resetInfoForm()">
                复原
              </button>
              <div class="divider"></div>
            </div>
          </div>
        </form>
      </div>
      <h3>社交账号</h3>
      <div class="content">
        <mat-accordion class="it-accordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="it-icon">email</mat-icon>
                备用邮箱
              </mat-panel-title>
              <mat-panel-description>
                151250007@smail.nju.edu.cn
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" min="1" placeholder="Age">
            </mat-form-field>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon svgIcon="qq" class="it-icon"></mat-icon>
                QQ
              </mat-panel-title>
              <mat-panel-description>
                929509707
                <!--<img src="assets/icons/ic_qq.svg" width="24">-->
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Country">
            </mat-form-field>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon svgIcon="tencent_weibo" class="it-icon"></mat-icon>
                腾讯微博
              </mat-panel-title>
              <mat-panel-description>
                已绑定
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Country">
            </mat-form-field>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon svgIcon="sina" class="it-icon"></mat-icon>
                新浪微博
              </mat-panel-title>
              <mat-panel-description>
                已绑定
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Country">
            </mat-form-field>

          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </mat-card>
    <mat-card class="it-card no-border">
      <h2>支付信息</h2>
      <!--<h3>账户余额</h3>-->
      <h3>银行卡</h3>
      <div class="content">
        <div class="bank-card-list">
          <div class="divider"></div>
          <div class="list-container">
            <div class="bank-card" *ngFor="let card of user?.payment.bankCards">
              <div class="card-title" [class.credit]="hasProp(card, 'billing')">
                <div class="divider"></div>
                <div class="card-type">{{hasProp(card, 'billing') ? '信用卡' : '储蓄卡'}}</div>
                <div class="bank-name">{{card.bank}}</div>
                <div class="divider"></div>
              </div>
              <div class="card-content">
                <div class="card-id">{{card.id | privacy: 12}}</div>
                <div class="expire-date">{{card.expire}}</div>
                <div class="divider"></div>
                <div class="person-name">{{card.personName}}</div>
                <div class="card-action">
                  <button mat-button color="primary" class="btn-link"
                          (click)="deleteCard(card)">
                    删除
                  </button>
                </div>
                <div class="divider"></div>
              </div>
            </div>

            <div class="bank-card add-card">
              <a (click)="addCardPanel.open()">
                <mat-icon>add</mat-icon>
              </a>
            </div>

          </div>
        </div>
        <mat-accordion class="it-accordion" style="margin: 0 -24px">
          <mat-expansion-panel [hideToggle]="true" #addCardPanel (closed)="onCloseCardPanel()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="it-icon">add</mat-icon>
                添加银行卡
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-tab-group mat-stretch-tabs style="margin: 12px 0">
              <mat-tab label="信用卡">
                <form style="width: 556px;margin-top: 12px;margin-left: 20px" class="margin-4"
                      [formGroup]="creditForm">
                  <div class="form-item">
                    <label><i class="material-icons">person</i></label>
                    <mat-form-field appearance="outline" class="item">
                      <mat-label>姓名</mat-label>
                      <input matInput placeholder="姓名"
                             formControlName="name"
                             [errorStateMatcher]="formErrorStateMatcher">
                    </mat-form-field>
                  </div>

                  <div class="form-item">
                    <label><i class="material-icons">place</i></label>
                    <div class="item">
                      <mat-form-field appearance="outline" style="width: 32%">
                        <mat-label>国家</mat-label>
                        <mat-select placeholder="国家"
                                    formControlName="country"
                                    [errorStateMatcher]="formErrorStateMatcher">
                          <mat-option value="CN">中国</mat-option>
                          <mat-option value="US">USA</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 32%;margin-left: 2%">
                        <mat-label>省份</mat-label>
                        <mat-select placeholder="省份"
                                    formControlName="province"
                                    [errorStateMatcher]="formErrorStateMatcher">
                          <mat-option value="江苏省">江苏</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 32%;margin-left: 2%">
                        <mat-label>市</mat-label>
                        <mat-select placeholder="市"
                                    formControlName="city"
                                    [errorStateMatcher]="formErrorStateMatcher">
                          <mat-option value="南京市">南京</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-item">
                    <div class="item">
                      <mat-form-field appearance="outline" style="width: 74%">
                        <mat-label>详细地址</mat-label>
                        <input matInput placeholder="地址"
                               formControlName="address"
                               [errorStateMatcher]="formErrorStateMatcher">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 24%;margin-left: 2%">
                        <mat-label>邮编</mat-label>
                        <input matInput placeholder="邮编" maxlength="7"
                               formControlName="zipCode"
                               [errorStateMatcher]="formErrorStateMatcher">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-item">
                    <label><i class="material-icons">account_balance</i></label>
                    <mat-form-field appearance="outline" class="item">
                      <mat-label>银行</mat-label>
                      <mat-select placeholder="银行"
                                  formControlName="bank"
                                  [errorStateMatcher]="formErrorStateMatcher">
                        <mat-option *ngFor="let bank of banks" [value]="bank">{{bank}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-item">
                    <label><i class="material-icons">credit_card</i></label>
                    <div class="item">
                      <mat-form-field appearance="outline" style="width: 50%">
                        <mat-label>银行卡号</mat-label>
                        <input matInput #bankCardNumber
                               placeholder="1234 - 5678 - 9098 - 7654 - 321"
                               [textMask]="{mask: bankCardMask, guide: false}"
                               formControlName="id"
                               [errorStateMatcher]="formErrorStateMatcher">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 23%;margin-left: 2%">
                        <mat-label>有效期</mat-label>
                        <input matInput [min]="minCardExpireDate" [matDatepicker]="creditCardExpirePicker"
                               placeholder="有效期"
                               formControlName="expire"
                               [errorStateMatcher]="formErrorStateMatcher">
                        <mat-datepicker-toggle matSuffix [for]="creditCardExpirePicker"></mat-datepicker-toggle>
                        <mat-datepicker #creditCardExpirePicker
                                        startView="multi-year"
                                        (yearSelected)="chosenCreditExpireYearHandler($event)"
                                        (monthSelected)="chosenCreditExpireMonthHandler($event, creditCardExpirePicker)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 23%;margin-left: 2%">
                        <mat-label>校验码</mat-label>
                        <input matInput placeholder="校验码" maxlength="4"
                               formControlName="verifyCode"
                               [errorStateMatcher]="formErrorStateMatcher">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-item" style="margin-top: 8px">
                    <div class="item">
                      <button mat-raised-button color="primary" type="submit" class="primary-action"
                              (click)="submitCreditForm(addCardPanel)">
                        添加
                      </button>
                      <button mat-button color="primary" type="button" class="secondary-action"
                              (click)="addCardPanel.close()">
                        放弃
                      </button>
                      <div class="divider"></div>
                    </div>
                  </div>
                </form>
              </mat-tab>
              <mat-tab label="储蓄卡">
                <form style="width: 556px;margin-top: 12px;margin-left: 20px" class="margin-4"
                      [formGroup]="debitForm">
                  <div class="form-item">
                    <label><i class="material-icons">person</i></label>
                    <mat-form-field appearance="outline" class="item">
                      <mat-label>姓名</mat-label>
                      <input matInput placeholder="姓名"
                             formControlName="name"
                             [errorStateMatcher]="formErrorStateMatcher">
                    </mat-form-field>
                  </div>

                  <div class="form-item">
                    <label><i class="material-icons">account_balance</i></label>
                    <mat-form-field appearance="outline" class="item">
                      <mat-label>银行</mat-label>
                      <mat-select placeholder="银行"
                                  formControlName="bank"
                                  [errorStateMatcher]="formErrorStateMatcher">
                        <mat-option *ngFor="let bank of banks" [value]="bank">{{bank}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="form-item">
                    <label><i class="material-icons">credit_card</i></label>
                    <div class="item">
                      <mat-form-field appearance="outline" style="width: 50%">
                        <mat-label>银行卡号</mat-label>
                        <input matInput #bankCardNumber
                               placeholder="1234 - 5678 - 9098 - 7654 - 321"
                               [textMask]="{mask: bankCardMask, guide: false}"
                               formControlName="id"
                               [errorStateMatcher]="formErrorStateMatcher">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 23%;margin-left: 2%">
                        <mat-label>有效期</mat-label>
                        <input matInput [min]="minCardExpireDate" [matDatepicker]="debitCardExpirePicker"
                               placeholder="有效期"
                               formControlName="expire"
                               [errorStateMatcher]="formErrorStateMatcher">
                        <mat-datepicker-toggle matSuffix [for]="debitCardExpirePicker"></mat-datepicker-toggle>
                        <mat-datepicker #debitCardExpirePicker
                                        startView="multi-year"
                                        (yearSelected)="chosenDebitExpireYearHandler($event)"
                                        (monthSelected)="chosenDebitExpireMonthHandler($event, debitCardExpirePicker)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 23%;margin-left: 2%">
                        <mat-label>校验码</mat-label>
                        <input matInput placeholder="校验码" maxlength="4"
                               formControlName="verifyCode"
                               [errorStateMatcher]="formErrorStateMatcher">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-item" style="margin-top: 8px">
                    <div class="item">
                      <button mat-raised-button color="primary" type="submit" class="primary-action"
                              (click)="submitDebitForm(addCardPanel)">
                        添加
                      </button>
                      <button mat-button color="primary" type="button" class="secondary-action"
                              (click)="addCardPanel.close()">
                        放弃
                      </button>
                      <div class="divider"></div>
                    </div>
                  </div>
                </form>
              </mat-tab>
            </mat-tab-group>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <h3>收货地址</h3>
      <div class="content">
        <div class="shipping-address-list">
          <div class="divider"></div>
          <div class="list-container">
            <div class="address-card" *ngFor="let address of user?.payment.shippingAddresses">
              <div class="card-title">
                <div class="name">{{address.name}}</div>
                <div class="phone">{{address.phone}}</div>
              </div>
              <div class="card-content">
                <div class="area">{{getCountryName(address.country)+' '+address.province+' '+address.city}}</div>
                <div class="address">{{address.address}}</div>
                <div class="zip-code">{{address.zipCode}}</div>
              </div>
              <div class="card-action">
                <button mat-button color="primary" class="btn-link modify"
                        (click)="openAddressPanel(addAddressPanel, address)">
                  修改
                </button>
                <button mat-button color="primary" class="btn-link delete"
                        (click)="deleteAddress(address)">
                  删除
                </button>
              </div>
            </div>

            <div class="address-card add-card">
              <a (click)="openAddressPanel(addAddressPanel)">
                <mat-icon>add</mat-icon>
              </a>
            </div>

          </div>
        </div>
        <mat-accordion class="it-accordion" style="margin: 0 -24px">
          <mat-expansion-panel [hideToggle]="true" #addAddressPanel (closed)="onCloseAddressPanel()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="it-icon">add</mat-icon>
                {{isModifyingAddress ? '修改' : '添加'}}地址
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <form style="width: 556px;margin-top: 12px;margin-left: 20px" class="margin-4"
                  [formGroup]="addressForm">

              <div class="form-item">
                <label><i class="material-icons">place</i></label>
                <div class="item">
                  <mat-form-field appearance="outline" style="width: 32%">
                    <mat-label>国家</mat-label>
                    <mat-select placeholder="国家"
                                formControlName="country"
                                [errorStateMatcher]="formErrorStateMatcher">
                      <mat-option value="CN">中国</mat-option>
                      <mat-option value="US">USA</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 32%;margin-left: 2%">
                    <mat-label>省份</mat-label>
                    <mat-select placeholder="省份"
                                formControlName="province"
                                [errorStateMatcher]="formErrorStateMatcher">
                      <mat-option value="江苏省">江苏</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 32%;margin-left: 2%">
                    <mat-label>市</mat-label>
                    <mat-select placeholder="市"
                                formControlName="city"
                                [errorStateMatcher]="formErrorStateMatcher">
                      <mat-option value="南京市">南京</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-item">
                <div class="item">
                  <mat-form-field appearance="outline" style="width: 74%">
                    <mat-label>详细地址</mat-label>
                    <input matInput placeholder="地址"
                           formControlName="address"
                           [errorStateMatcher]="formErrorStateMatcher">
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 24%;margin-left: 2%">
                    <mat-label>邮编</mat-label>
                    <input matInput placeholder="邮编" maxlength="7"
                           formControlName="zipCode"
                           [errorStateMatcher]="formErrorStateMatcher">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-item">
                <label><i class="material-icons">person</i></label>
                <mat-form-field appearance="outline" class="item">
                  <mat-label>姓名</mat-label>
                  <input matInput placeholder="姓名"
                         formControlName="name"
                         [errorStateMatcher]="formErrorStateMatcher">
                </mat-form-field>
              </div>

              <div class="form-item">
                <label><i class="material-icons">phone</i></label>
                <div class="item">
                  <mat-form-field appearance="outline" style="width: 30%">
                    <mat-label>地区</mat-label>
                    <mat-select placeholder="地区" formControlName="prefix" #phoneCountry
                                (selectionChange)="resetCountry(phoneCountry.value)"
                                [errorStateMatcher]="formErrorStateMatcher">
                      <mat-option *ngFor="let country of countries" [value]="country.code">
                        <img [src]="country.flag" aria-hidden
                             width="35"><span> {{country.name}} ({{country.prefix}})</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="margin-left: 2%;width: 68%">
                    <mat-label>手机号码</mat-label>
                    <input matInput placeholder="手机号码" type="tel"
                           formControlName="phone"
                           [textMask]="{mask: phoneMask, guide: false}"
                           [errorStateMatcher]="formErrorStateMatcher">
                  </mat-form-field>
                </div>
              </div>

              <div class="form-item" style="margin-top: 8px">
                <div class="item">
                  <button mat-raised-button color="primary" type="submit" class="primary-action"
                          (click)="submitAddressForm(addAddressPanel)"
                          [disabled]="addressForm.pristine">
                    {{isModifyingAddress ? '修改' : '添加'}}
                  </button>
                  <button mat-button color="primary" type="button" class="secondary-action"
                          (click)="addAddressPanel.close()">
                    放弃
                  </button>
                  <div class="divider"></div>
                </div>
              </div>
            </form>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
    <mat-card class="it-card no-border">
      <h2>账户安全</h2>
      <h3>修改密码</h3>
      <div class="content">
        <form [formGroup]="passwordForm" style="width: 556px" class="margin-4">
          <div class="form-item">
            <!--<label><i class="material-icons">vpn_key</i></label>-->
            <mat-form-field appearance="outline" class="item">
              <mat-label>原密码</mat-label>
              <input matInput type="password" placeholder="请输入正在使用的密码"
                     formControlName="oldPassword" [errorStateMatcher]="formErrorStateMatcher">
              <mat-error *ngIf="passwordForm.get('oldPassword').hasError('required')">
                请输入原密码
              </mat-error>
              <mat-error *ngIf="passwordForm.get('oldPassword').hasError('wrongPassword')
                            && !passwordForm.get('oldPassword').hasError('required')">
                密码错误
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-item">
            <mat-form-field appearance="outline" class="item">
              <mat-label>新密码</mat-label>
              <input matInput type="password" placeholder="请输入新密码"
                     formControlName="newPassword" [errorStateMatcher]="formErrorStateMatcher">
              <mat-error *ngIf="passwordForm.get('newPassword').hasError('required')">请输入新密码</mat-error>
            </mat-form-field>
          </div>

          <div class="form-item">
            <mat-form-field appearance="outline" class="item">
              <mat-label>确认密码</mat-label>
              <input matInput type="password" placeholder="请再次输入新密码"
                     formControlName="repPassword" [errorStateMatcher]="formErrorStateMatcher">
              <mat-error *ngIf="passwordForm.get('repPassword').hasError('required')">
                请确认新密码
              </mat-error>
              <mat-error *ngIf="passwordForm.get('repPassword').hasError('notMatch')
                            && !passwordForm.get('repPassword').hasError('required')">
                两次密码不一致
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-item" style="margin-top: 8px">
            <div class="item">
              <button mat-raised-button color="primary" type="submit" class="primary-action"
                      [disabled]="passwordForm.pristine"
                      (click)="submitPasswordForm()">
                更换密码
              </button>
              <button mat-button color="primary" type="button" class="secondary-action"
                      [disabled]="passwordForm.pristine"
                      (click)="resetPasswordForm()">
                清空
              </button>
              <div class="divider"></div>
            </div>
          </div>
        </form>
      </div>
      <h3>密保问题</h3>
      <div class="content">
        <form style="width: 556px" [formGroup]="questionForm">
          <div formArrayName="questions">
            <div *ngFor="let question of questions.controls; let i=index" [formGroupName]="i" class="security-question">
              <div class="form-item">
                <label><i class="material-icons">question_answer</i></label>
                <mat-form-field appearance="outline" class="item">
                  <mat-label>安全问题 {{i+1}}</mat-label>
                  <input type="text" placeholder="请 输入 / 选择 一个问题" matInput
                         [matAutocomplete]="questionAutoComplete"
                         formControlName="question">
                  <mat-autocomplete #questionAutoComplete="matAutocomplete">
                    <mat-option *ngFor="let option of securityQuestionOptions" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="form-item">
                <mat-form-field appearance="outline" class="item">
                  <mat-label>答案</mat-label>
                  <input matInput type="text" placeholder="请输入 安全问题 {{i+1}} 的答案"
                         formControlName="answer">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-item" style="margin-top: 8px">
            <div class="item">
              <button mat-raised-button color="primary" type="submit" class="primary-action"
                      [disabled]="questionForm.pristine"
                      (click)="submitQuestionForm()">
                更新
              </button>
              <button mat-button color="primary" type="submit" class="secondary-action"
                      [disabled]="questionForm.pristine"
                      (click)="resetQuestionForm()">
                重置
              </button>
              <div class="divider"></div>
            </div>
          </div>
        </form>
      </div>
      <h3>实名认证</h3>
      <div class="content">
        <mat-accordion class="it-accordion" style="margin: 0 -24px">
          <mat-expansion-panel *ngIf="user && user.security.realName.name!==''">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="it-icon">person</mat-icon>
                {{user.security.realName.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{user.security.realName.id | privacy}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="real-name bound">
              <mat-icon class="it-icon">verified_user</mat-icon>
              <span>已实名认证</span>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="!user || user.security.realName.name===''" #realNameAuthPanel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="it-icon">error_outline</mat-icon>
                未实名认证
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="realNameForm" style="width: 556px;margin-top: 12px;" class="margin-4">
              <div class="form-item">
                <!--<label><mat-icon>person</mat-icon></label>-->
                <mat-form-field appearance="outline" class="item">
                  <mat-label>真实姓名</mat-label>
                  <input matInput placeholder="真实姓名"
                         formControlName="name"
                         [errorStateMatcher]="formErrorStateMatcher">
                  <mat-error *ngIf="realNameForm.get('name').hasError('required')">
                    请输入真实姓名
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-item">
                <!--<label><mat-icon>person</mat-icon></label>-->
                <mat-form-field appearance="outline" class="item">
                  <mat-label>身份证号</mat-label>
                  <input matInput placeholder="身份证号"
                         formControlName="id"
                         [errorStateMatcher]="formErrorStateMatcher">
                  <mat-error *ngIf="realNameForm.get('id').hasError('required')">
                    请输入身份证号
                  </mat-error>
                  <mat-error *ngIf="realNameForm.get('id').hasError('pattern')
                                && !realNameForm.get('id').hasError('required')">
                    身份证号不正确
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-item" style="margin-top: 8px">
                <div class="item">
                  <button mat-raised-button color="primary" type="submit" class="primary-action"
                          (click)="submitRealNameForm()">
                    认证
                  </button>
                  <button mat-button color="primary" type="button" class="secondary-action"
                          (click)="resetRealNameForm();realNameAuthPanel.close()">
                    放弃
                  </button>
                  <div class="divider"></div>
                </div>
              </div>
            </form>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>

  <div class="toc-list" [style.maxHeight]="contentHeight">
    <it-toc></it-toc>
  </div>

  <div class="divider"></div>
</div>
<it-back-top hrefBase="/setting"></it-back-top>
<it-vip-footer></it-vip-footer>
